@namespace WeddingPlatform.Blazor
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/wedding.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <HeadOutlet />
</head>
<body>
    <WeddingPlatform.Blazor.Routes @rendermode="new InteractiveServerRenderMode(prerender: true)" />
    <script src="/_framework/blazor.web.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/js/wedding-interop.js"></script>
</body>
</html>
