[submodule "20_SOURCES/100. Library/Core"]
	path = 20_SOURCES/100. Library/Core
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Core
[submodule "20_SOURCES/100. Library/Locators"]
	path = 20_SOURCES/100. Library/Locators
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Locators
[submodule "20_SOURCES/100. Library/Attributes"]
	path = 20_SOURCES/100. Library/Attributes
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Attributes
[submodule "20_SOURCES/100. Library/Interfaces"]
	path = 20_SOURCES/100. Library/Interfaces
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Interfaces
[submodule "20_SOURCES/100. Library/ViewModels"]
	path = 20_SOURCES/100. Library/ViewModels
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.ViewModels
[submodule "20_SOURCES/100. Library/Wpf"]
	path = 20_SOURCES/100. Library/Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Wpf
[submodule "20_SOURCES/100. Library/Generators"]
	path = 20_SOURCES/100. Library/Generators
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Generators
[submodule "20_SOURCES/100. Library/Locators.Wpf"]
	path = 20_SOURCES/100. Library/Locators.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Locators.Wpf
[submodule "20_SOURCES/100. Library/Behaviors"]
	path = 20_SOURCES/100. Library/Behaviors
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Behaviors
[submodule "20_SOURCES/100. Library/Behaviors.Core"]
	path = 20_SOURCES/100. Library/Behaviors.Core
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Behaviors.Core
[submodule "20_SOURCES/100. Library/Behaviors.Wpf"]
	path = 20_SOURCES/100. Library/Behaviors.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Behaviors.Wpf
[submodule "20_SOURCES/100. Library/Extensions"]
	path = 20_SOURCES/100. Library/Extensions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.MVVM.Extensions
[submodule "20_SOURCES/100. Library/Hybrid"]
	path = 20_SOURCES/100. Library/Hybrid
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Hybrid
[submodule "20_SOURCES/100. Library/Hybrid.Wpf"]
	path = 20_SOURCES/100. Library/Hybrid.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Hybrid.Wpf
[submodule "20_SOURCES/100. Library/Logging.Wpf"]
	path = 20_SOURCES/100. Library/Logging.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Logging.Wpf
[submodule "20_SOURCES/100. Library/Logging"]
	path = 20_SOURCES/100. Library/Logging
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Logging
[submodule "20_SOURCES/100. Library/Threading"]
	path = 20_SOURCES/100. Library/Threading
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Threading
[submodule "20_SOURCES/100. Library/Threading.Wpf"]
	path = 20_SOURCES/100. Library/Threading.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Threading.Wpf
[submodule "20_SOURCES/100. Library/Threading.Windows"]
	path = 20_SOURCES/100. Library/Threading.Windows
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Threading.Windows
[submodule "20_SOURCES/100. Library/Communication.Abstractions"]
	path = 20_SOURCES/100. Library/Communication.Abstractions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.Abstractions
[submodule "20_SOURCES/100. Library/Communication.Core"]
	path = 20_SOURCES/100. Library/Communication.Core
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.Core
[submodule "20_SOURCES/100. Library/Communication.Wpf"]
	path = 20_SOURCES/100. Library/Communication.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.Wpf
[submodule "20_SOURCES/100. Library/Communication.Sockets"]
	path = 20_SOURCES/100. Library/Communication.Sockets
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.Sockets
[submodule "20_SOURCES/100. Library/Communication.Serial"]
	path = 20_SOURCES/100. Library/Communication.Serial
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.Serial
[submodule "20_SOURCES/100. Library/Communication.RabbitMQ"]
	path = 20_SOURCES/100. Library/Communication.RabbitMQ
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.RabbitMQ
[submodule "20_SOURCES/100. Library/Communication.FullKit"]
	path = 20_SOURCES/100. Library/Communication.FullKit
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Communication.FullKit
[submodule "20_SOURCES/100. Library/PLC.Abstractions"]
	path = 20_SOURCES/100. Library/PLC.Abstractions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Abstractions
[submodule "20_SOURCES/100. Library/PLC.Core"]
	path = 20_SOURCES/100. Library/PLC.Core
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Core
[submodule "20_SOURCES/100. Library/PLC.Mitsubishi.MC"]
	path = 20_SOURCES/100. Library/PLC.Mitsubishi.MC
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Mitsubishi.MC
[submodule "20_SOURCES/100. Library/PLC.Mitsubishi.MxComponent"]
	path = 20_SOURCES/100. Library/PLC.Mitsubishi.MxComponent
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Mitsubishi.MxComponent
[submodule "20_SOURCES/100. Library/PLC.Omron.CxComponent"]
	path = 20_SOURCES/100. Library/PLC.Omron.CxComponent
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Omron.CxComponent
[submodule "20_SOURCES/100. Library/PLC.Wpf"]
	path = 20_SOURCES/100. Library/PLC.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Wpf
[submodule "20_SOURCES/100. Library/PLC.Omron.Fins"]
	path = 20_SOURCES/100. Library/PLC.Omron.Fins
	url = https://github.com/CodeMaru-Dreamine/Dreamine.PLC.Omron.Fins
[submodule "20_SOURCES/100. Library/IO.Fastech.Ethernet"]
	path = 20_SOURCES/100. Library/IO.Fastech.Ethernet
	url = https://github.com/CodeMaru-Dreamine/Dreamine.IO.Fastech.Ethernet
[submodule "20_SOURCES/100. Library/IO.Abstractions"]
	path = 20_SOURCES/100. Library/IO.Abstractions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.IO.Abstractions
[submodule "20_SOURCES/100. Library/Database.Abstractions"]
	path = 20_SOURCES/100. Library/Database.Abstractions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.Abstractions
[submodule "20_SOURCES/100. Library/Database.Core"]
	path = 20_SOURCES/100. Library/Database.Core
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.Core
[submodule "20_SOURCES/100. Library/Database.MySql"]
	path = 20_SOURCES/100. Library/Database.MySql
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.MySql
[submodule "20_SOURCES/100. Library/Database.Oracle"]
	path = 20_SOURCES/100. Library/Database.Oracle
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.Oracle
[submodule "20_SOURCES/100. Library/Database.Sqlite"]
	path = 20_SOURCES/100. Library/Database.Sqlite
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.Sqlite
[submodule "20_SOURCES/100. Library/Database.SqlServer"]
	path = 20_SOURCES/100. Library/Database.SqlServer
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Database.SqlServer
[submodule "20_SOURCES/100. Library/UI.Abstractions"]
	path = 20_SOURCES/100. Library/UI.Abstractions
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Abstractions
[submodule "20_SOURCES/100. Library/UI.Wpf"]
	path = 20_SOURCES/100. Library/UI.Wpf
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Wpf
[submodule "20_SOURCES/100. Library/UI.Wpf.Themes"]
	path = 20_SOURCES/100. Library/UI.Wpf.Themes
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Wpf.Themes
[submodule "20_SOURCES/100. Library/UI.Wpf.Controls"]
	path = 20_SOURCES/100. Library/UI.Wpf.Controls
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Wpf.Controls
[submodule "20_SOURCES/100. Library/UI.Wpf.Equipment"]
	path = 20_SOURCES/100. Library/UI.Wpf.Equipment
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Wpf.Equipment
[submodule "20_SOURCES/100. Library/UI.WinForms"]
	path = 20_SOURCES/100. Library/UI.WinForms
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.WinForms
[submodule "20_SOURCES/100. Library/UI.Maui"]
	path = 20_SOURCES/100. Library/UI.Maui
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Maui
[submodule "20_SOURCES/100. Library/UI.Blazor"]
	path = 20_SOURCES/100. Library/UI.Blazor
	url = https://github.com/CodeMaru-Dreamine/Dreamine.UI.Blazor
[submodule "20_SOURCES/100. Library/Identity"]
	path = 20_SOURCES/100. Library/Identity
	url = https://github.com/CodeMaru-Dreamine/Dreamine.Identity
