@inherits LayoutComponentBase

<nav class="navbar navbar-dark" style="background-color:#0d1b3e;">
    <div class="container">
        <NavLink class="btn btn-link text-white" href="/" Match="NavLinkMatch.All">Counter</NavLink>
        <NavLink class="btn btn-link text-white" href="/controls">Controls</NavLink>
        <NavLink class="btn btn-link text-white" href="/popup">Popup</NavLink>
    </div>
</nav>

<div class="container mt-4">
    @Body
</div>
