@namespace PortfolioApp.Blazor
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/portfolio.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" />
    <HeadOutlet />
</head>
<body>
    <PortfolioApp.Blazor.Routes @rendermode="new InteractiveServerRenderMode(prerender: true)" />
    <script src="/_framework/blazor.web.js"></script>
    <script src="/js/portfolio-interop.js"></script>
</body>
</html>
