<Window x:Class="Views.{{name}}"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        Title="{{name}}" Height="300" Width="400">
  <Grid>
    <StackPanel>
      <TextBlock Text="Dreamine MainWindow View 만드느라 GPT4o GPU녹아 내렸다~!!"
                 VerticalAlignment="Center"
                 HorizontalAlignment="Center"
                 FontSize="12"
                 FontWeight="Bold"/>
      <TextBlock Text="힘들고만!!"
               VerticalAlignment="Center"
               HorizontalAlignment="Center"
               FontSize="12"
               FontWeight="Bold"/>
    </StackPanel>
  </Grid>
</Window>
